<?php

// For use with "ibm_db2" extension.
return [
    'driverClass' => \DoctrineDbalIbmi\Driver\DB2Driver::class,
    // 'dsn' => 'ibm:DRIVER={IBM DB2 ODBC DRIVER};DATABASE=doctrine;HOSTNAME=localhost;PORT=50000;PROTOCOL=TCPIP;',
    'host' => '127.0.0.1',
    'user' => 'db2inst1',
    'password' => 'Doctrine2018',
    'dbname' => 'doctrine', // Look up value with WRKRDBDIRE
    'persistent' => true,
    'driverOptions' => [
        // 'i5_naming' => DB2_I5_NAMING_OFF,
        // 'i5_commit' => DB2_I5_TXN_NO_COMMIT,
        // 'i5_lib' => '...',
    ],
];
