<?php

// For use with "pdo_odbc" extension.
return [
    'driverClass' => \DoctrineDbalIbmi\Driver\OdbcDriver::class,
    'persistent' => false,
    // 'dsn' => "DSN=*LOCAL;",
    'dsn' => 'DRIVER={IBM i Access ODBC Driver};SYSTEM=127.0.0.1;DATABASE=doctrine;',
    'username' => 'db2inst1',
    'password' => 'Doctrine2018',
];
