<?php

// For use with ibm_db2 extension
return [
    'driverClass' => \DoctrineDbalIbmi\Driver\DB2Driver::class,
    'host' => 'localhost',
    'user' => '...',
    'password' => '...',
    'dbname' => '...', // Look up value with WRKRDBDIRE
    'persistent' => true,
    'driverOptions' => [
        'i5_naming' => DB2_I5_NAMING_OFF,
        'i5_lib' => '...',
        'i5_commit' => DB2_I5_TXN_NO_COMMIT,
    ],
];

// For use with odbc and pdo extension
return [
    'driverClass' => \DoctrineDbalIbmi\Driver\OdbcDriver::class,
    'persistent' => false,
    'dsn' => "DSN=*LOCAL;",
    'username' => 'CHANGEME',
    'password' => 'METOO',
];
