parameters:
    level: 9
    phpVersion: 80200
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#^Parameter \#(2|3) \$(username|password) of method Doctrine\\DBAL\\Driver\\IBMDB2\\DB2Connection::__construct\(\) expects string, string\|null given\.$#'
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
